@charset "utf-8";
.post {
    margin: 10px;
    .article-area,
    .answer-area {
        .title {
            display: grid;
            grid-template: "article-header article-title" minmax(2em, auto) "article-header article-info" calc(1em + 8px) / min-content auto;
            .article-header {
                grid-area: article-header;
                span {
                    display: block;
                    width: 1.5em;
                    text-align: middle;
                    font-size: xx-large;
                    line-height: 56px;
                }
            }
            .article-title {
                grid-area: article-title;
            }
            .article-info {
                grid-area: article-info;
                font-size: 0.9rem;
                user-select: none;
                >* {
                    padding-left: 4px;
                }
                >*:first-child {
                    border-left: none;
                    padding-left: 0;
                }
                a:hover {
                    font-weight: 350;
                }
                .author {
                    color: #fff;
                }
                .wdate,
                .modify,
                .delete {
                    color: #ccc;
                }
            }
        }
        .article {
            display: grid;
            gap: 10px;
            padding: 20px;
            @media screen and (max-width: 40em) {
                grid-template: "contentArea" minmax(200px, auto) "commentArea" auto / auto;
                >.voteArea.left {
                    display: none;
                }
            }
            @media screen and (min-width: 40em) {
                grid-template: "voteAreaLeft contentArea" minmax(200px, auto) "commentArea commentArea" auto / auto 1fr;
            }
            .content-area {
                grid-area: contentArea;
                display: grid;
                @media screen and (max-width: 40em) {
                    grid-template: "attachmentArea attachmentArea" min-content "quillArea quillArea" auto "voteAreaBottom profileArea" min-content / 1fr auto;
                    >.dummyArea {
                        display: none;
                    }
                    >.voteArea.bottom {
                        >div {
                            padding: unset;
                        }
                    }
                }
                @media screen and (min-width: 40em) {
                    grid-template: "attachmentArea attachmentArea" min-content "quillArea quillArea" auto "dummyArea profileArea" min-content / 1fr auto;
                    >.voteArea.bottom {
                        display: none;
                    }
                }
                .attachment {
                    grid-area: attachmentArea;
                    display: flex;
                    flex-direction: row-reverse;
                    font-size: small;
                    color: #777;
                }
                .quill-area {
                    grid-area: quillArea;
                    >div {
                        border: 0px;
                    }
                }
                .commentAction {
                    grid-area: commentAction;
                }
                .dummyArea {
                    grid-area: dummyArea;
                }
                .frag_profile {
                    grid-area: profileArea;
                    display: flex;
                    white-space: nowrap;
                    padding: 5px;
                    border: 1px solid #e8e8e8;
                    box-shadow: 0 0 2px #00000040;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    cursor: pointer;
                    .profilePic {
                        width: 40px;
                        height: 40px;
                        border-radius: 70%;
                        -webkit-border-radius: 70%;
                        background-color: gray;
                        overflow: hidden;
                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .name {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 10px;
                        font-size: small;
                    }
                    &:hover {
                        box-shadow: 0 0 2px #0080ff;
                        -webkit-box-shadow: 0 0 2px #0080ff;
                    }
                }
            }
            .voteArea {
                display: flex;
                align-items: center;
                text-align: center;
                &.bottom {
                    grid-area: voteAreaBottom;
                    flex-direction: row;
                    justify-content: center;
                }
                &.left {
                    margin-top: 17px;
                    grid-area: voteAreaLeft;
                    flex-direction: column;
                    justify-content: start;
                }
                i {
                    cursor: pointer;
                    color: gray;
                }
                >div {
                    padding: 10px;
                }
                .vote {
                    width: 3em;
                    padding-bottom: 13px;
                    font-size: large;
                    font-weight: bolder;
                    text-align: center;
                }
                .upVote,
                .downVote {
                    &.upVote:hover * {
                        color: #008500;
                    }
                    &.downVote:hover * {
                        color: coral;
                    }
                }
                .voted {
                    &.upVote * {
                        color: green;
                    }
                    &.downVote * {
                        color: coral;
                    }
                }
                .positive {
                    color: rgba(0, 133, 0, 0.8);
                }
                .negative {
                    color: rgba(255, 127, 80, 0.8);
                }
                .zerosum {
                    color: black;
                }
            }
            .comment-area {
                grid-area: commentArea;
            }
        }
    }
}

.underbar {
    display: flex;
    justify-content: space-between;
}


/* Side Article */

.aside-doc-area {
    .article-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        &:last-child {
            border-bottom: 1px solid #ccc;
        }
        div.no-article {
            line-height: 50px;
            height: 50px;
            padding-left: calc(1em + 40px);
            border-top: 1px dotted #dddddd;
            border-left: 3px solid #dddddd;
            border-collapse: collapse;
            &:hover {
                background: #dddddd;
            }
        }
        .article-container {
            display: grid;
            grid-template: "doc-idx doc-title doc-author" "doc-idx doc-date  doc-author" / 40px auto 140px;
            height: 50px;
            border-top: 1px dotted #dddddd;
            border-left: 3px solid #dddddd;
            border-collapse: collapse;
            background-color: #ffffff;
            transition: background-color 0.1s ease-out, border 0.1s ease-out;
            overflow: hidden;
            &:hover {
                background-color: #dddddd;
            }
            &.selected {
                border-left: 3px solid #0074e8;
            }
            .doc-idx {
                grid-area: doc-idx;
                line-height: 50px;
                text-align: center;
            }
            .doc-title {
                grid-area: doc-title;
                height: 27.25px;
                line-height: 27.25px;
                margin-left: 16px;
                vertical-align: bottom;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: pointer;
            }
            .doc-date {
                grid-area: doc-date;
                height: 22.75px;
                line-height: 22.75px;
                margin-left: 16px;
                font-size: small;
                color: #888888;
                cursor: pointer;
            }
            .doc-author {
                grid-area: doc-author;
                max-width: 160px;
                .frag_profile {
                    grid-area: profileArea;
                    height: 50px;
                    width: min-content;
                    display: flex;
                    white-space: nowrap;
                    padding: 5px;
                    margin-left: auto;
                    cursor: pointer;
                    .profilePic {
                        width: 40px;
                        height: 40px;
                        border-radius: 70%;
                        -webkit-border-radius: 70%;
                        background-color: gray;
                        overflow: hidden;
                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .name {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 10px;
                        font-size: small;
                    }
                }
            }
        }
    }
}