@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Malgun Gothic", "맑은 고딕", -apple-system, BlinkMacSystemFont, helvetica, "Apple SD Gothic Neo", sans-serif;
  font-weight: 350;
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  scrollbar-width: thin; }

p {
  margin-top: 4px !important;
  margin-bottom: 4px !important; }

a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer !important;
}

a:hover,
a:hover * {
  font-weight: bolder;
  text-decoration: none !important;
}

ul,
ol {
  list-style: none; }

label {
  user-select: none; }

hr {
  border: 1px solid #888;
  margin: 3px !important; }

b {
  font-weight: 700;
  color: #000; }

button,
input[type="submit"],
input[type="button"],
input[type="file"],
label[class="file"],
label[class="file dark"],
select,
label.btn {
  height: 37px;
  box-shadow: 0 0 2px #00000040;
  -webkit-box-shadow: 0 0 2px #00000040;
  white-space: nowrap;
  -webkit-appearance: none;
  font-size: 13px !important;
  margin: unset;
  outline: none;
  background-color: #fff;
  border: 1px solid #fff;
  color: black;
  padding: 4px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  text-align-last: center;
  text-align: center;
  line-height: 27px;
  cursor: pointer;
}

button.near.top,
input[type="submit"].near.top,
input[type="button"].near.top,
input[type="file"].near.top,
label[class="file"].near.top,
label[class="file dark"].near.top,
select.near.top,
label.btn.near.top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

button.near.bottom,
input[type="submit"].near.bottom,
input[type="button"].near.bottom,
input[type="file"].near.bottom,
label[class="file"].near.bottom,
label[class="file dark"].near.bottom,
select.near.bottom,
label.btn.near.bottom {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

button.near.left,
input[type="submit"].near.left,
input[type="button"].near.left,
input[type="file"].near.left,
label[class="file"].near.left,
label[class="file dark"].near.left,
select.near.left,
label.btn.near.left {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

button.near.right,
input[type="submit"].near.right,
input[type="button"].near.right,
input[type="file"].near.right,
label[class="file"].near.right,
label[class="file dark"].near.right,
select.near.right,
label.btn.near.right {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

button:hover, button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="file"]:hover,
input[type="file"]:focus,
label[class="file"]:hover,
label[class="file"]:focus,
label[class="file dark"]:hover,
label[class="file dark"]:focus,
select:hover,
select:focus,
label.btn:hover,
label.btn:focus {
  box-shadow: 0 0 2px #0080ff;
  -webkit-box-shadow: 0 0 2px #0080ff;
}

button.dark,
input[type="submit"].dark,
input[type="button"].dark,
input[type="file"].dark,
label[class="file"].dark,
label[class="file dark"].dark,
select.dark,
label.btn.dark {
  background-color: #212529;
  border-color: #212529;
  color: white;
}

button.gray,
input[type="submit"].gray,
input[type="button"].gray,
input[type="file"].gray,
label[class="file"].gray,
label[class="file dark"].gray,
select.gray,
label.btn.gray {
  background-color: #545b62;
  border-color: #545b62;
  color: white;
}

button.agree,
input[type="submit"].agree,
input[type="button"].agree,
input[type="file"].agree,
label[class="file"].agree,
label[class="file dark"].agree,
select.agree,
label.btn.agree {
  color: white;
  background-color: #0074e8;
  border-color: #0074e8;
}

button.danger,
input[type="submit"].danger,
input[type="button"].danger,
input[type="file"].danger,
label[class="file"].danger,
label[class="file dark"].danger,
select.danger,
label.btn.danger {
  color: white;
  background-color: #bf1b44;
  border-color: #bf1b44;
}

button i.fa,
button i.fas,
button i.far,
button i.fab,
input[type="submit"] i.fa,
input[type="submit"] i.fas,
input[type="submit"] i.far,
input[type="submit"] i.fab,
input[type="button"] i.fa,
input[type="button"] i.fas,
input[type="button"] i.far,
input[type="button"] i.fab,
input[type="file"] i.fa,
input[type="file"] i.fas,
input[type="file"] i.far,
input[type="file"] i.fab,
label[class="file"] i.fa,
label[class="file"] i.fas,
label[class="file"] i.far,
label[class="file"] i.fab,
label[class="file dark"] i.fa,
label[class="file dark"] i.fas,
label[class="file dark"] i.far,
label[class="file dark"] i.fab,
select i.fa,
select i.fas,
select i.far,
select i.fab,
label.btn i.fa,
label.btn i.fas,
label.btn i.far,
label.btn i.fab {
  margin: 5.5px 0px;
  text-align: center;
  font-size: 13px;
}

select {
  text-align: center; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="search"],
textarea {
  height: 37px;
  box-shadow: 0 0 2px #00000040;
  -webkit-box-shadow: 0 0 2px #00000040;
  white-space: nowrap;
  -webkit-appearance: none;
  font-size: 13px !important;
  margin: unset;
  outline: none;
  padding: 4px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  line-height: 27px;
}

input[type="text"].near.top,
input[type="password"].near.top,
input[type="email"].near.top,
input[type="number"].near.top,
input[type="date"].near.top,
input[type="datetime-local"].near.top,
input[type="search"].near.top,
textarea.near.top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

input[type="text"].near.bottom,
input[type="password"].near.bottom,
input[type="email"].near.bottom,
input[type="number"].near.bottom,
input[type="date"].near.bottom,
input[type="datetime-local"].near.bottom,
input[type="search"].near.bottom,
textarea.near.bottom {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

input[type="text"].near.left,
input[type="password"].near.left,
input[type="email"].near.left,
input[type="number"].near.left,
input[type="date"].near.left,
input[type="datetime-local"].near.left,
input[type="search"].near.left,
textarea.near.left {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

input[type="text"].near.right,
input[type="password"].near.right,
input[type="email"].near.right,
input[type="number"].near.right,
input[type="date"].near.right,
input[type="datetime-local"].near.right,
input[type="search"].near.right,
textarea.near.right {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

input[type="text"]:hover, input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="date"]:hover,
input[type="date"]:focus,
input[type="datetime-local"]:hover,
input[type="datetime-local"]:focus,
input[type="search"]:hover,
input[type="search"]:focus,
textarea:hover,
textarea:focus {
  box-shadow: 0 0 2px #0080ff;
  -webkit-box-shadow: 0 0 2px #0080ff;
}

input[type="text"].dark,
input[type="password"].dark,
input[type="email"].dark,
input[type="number"].dark,
input[type="date"].dark,
input[type="datetime-local"].dark,
input[type="search"].dark,
textarea.dark {
  background-color: #212529;
  border-color: #212529;
  color: white;
}

input[type="text"].gray,
input[type="password"].gray,
input[type="email"].gray,
input[type="number"].gray,
input[type="date"].gray,
input[type="datetime-local"].gray,
input[type="search"].gray,
textarea.gray {
  background-color: #545b62;
  border-color: #545b62;
  color: white;
}

input[type="text"].width.full,
input[type="password"].width.full,
input[type="email"].width.full,
input[type="number"].width.full,
input[type="date"].width.full,
input[type="datetime-local"].width.full,
input[type="search"].width.full,
textarea.width.full {
  width: 100%;
  resize: none;
}

input[type="text"].width.half,
input[type="password"].width.half,
input[type="email"].width.half,
input[type="number"].width.half,
input[type="date"].width.half,
input[type="datetime-local"].width.half,
input[type="search"].width.half,
textarea.width.half {
  width: 50%;
  resize: none;
}

pre {
  font-family: inherit !important;
  font-size: 0.9em !important;
  margin-bottom: unset !important;
  word-break: break-all; }

.hidden {
  display: none !important; }

.pointer {
  cursor: pointer; }

.bold {
  font-weight: bold; }

.inb > * {
  display: inline-block; }

.rel {
  position: relative; }

.noshow {
  visibility: hidden; }

.tip {
  font-size: 14px;
  color: #aaa; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

i.fa,
i.fas,
i.far,
i.fab {
  text-align: center;
  font-size: 16px;
}

i.fa.fa-small,
i.fas.fa-small,
i.far.fa-small,
i.fab.fa-small {
  font-size: 10px;
}

i.fa.fa-big,
i.fas.fa-big,
i.far.fa-big,
i.fab.fa-big {
  font-size: 24px;
}

i.fa.fa-xbig,
i.fas.fa-xbig,
i.far.fa-xbig,
i.fab.fa-xbig {
  font-size: 32px;
}

p.bs4 {
  font-weight: bold;
}

p.bs4 * {
  font-weight: bold;
}

.pagination li.page-item.active {
  color: #ffffff;
}

.pagination .pagination-info {
  display: none; }

.pagination-detail .pagination-info {
  display: none; }

tr.title {
  font-weight: 1000;
  font-size: large; }

.page-item.active {
  color: #ffffff !important; }

.checkbox {
  font-family: "Nanum Gothic";
}

.checkbox > input[type="checkbox"] {
  display: none;
  vertical-align: middle;
}

.checkbox > input[type="checkbox"] + label {
  padding-left: 1.8em;
  position: relative;
  margin-bottom: unset;
  background-color: inherit !important;
}

.checkbox > input[type="checkbox"] + label:before {
  content: "";
  width: 1em;
  height: 1em;
  left: 0.2em;
  top: 0.25em;
  position: absolute;
  border-top: 0.1em solid #000;
  border-right: 0.1em solid #000;
  border-bottom: 0.1em solid #000;
  border-left: 0.1em solid #000;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  transition: all 300ms;
}

.checkbox > input[type="checkbox"]:checked + label:before {
  margin-right: 0.35em;
  width: 0.65em;
  height: 1em;
  left: 0.35em;
  top: 0em;
  transform: rotate(210deg);
  position: absolute;
  border-top: 0.1em solid #0080ff;
  border-right: 0.1em solid transparent;
  border-bottom: 0.1em solid transparent;
  border-left: 0.1em solid #0080ff;
  border-radius: 0;
  -webkit-border-radius: 0;
  content: "";
}
